<section class="sec sec_1" id="sec_1">
    <div class="ph_wrap">
        <div class="num sticky_top">
            LOOK 01
        </div>
        <div class="look_ph look1-1">
            <img src="<%= rootURL %>/assets/img/look1-1.png" alt="">
        </div>
        <div class="look_ph look1-2">
            <img src="<%= rootURL %>/assets/img/look1-2.png" alt="">
        </div>
        
    </div>
    <div class="item_detail">
        <p>
            <a href="https://www.dot-st.com/lowrysfarm/disp/item/282627/" target="_blank">Assort Logo Printed One-Piece LS ¥4,400</a><br>
            <a href="https://www.dot-st.com/lowrysfarm/disp/item/292631/" target="_blank">Lace Midi Skirt ¥3,990</a><br>
            <a href="https://www.dot-st.com/lowrysfarm/disp/item/292633/" target="_blank">Frill Hem Long Skirt ¥4,400</a><br>
            <a href="https://www.dot-st.com/lowrysfarm/disp/item/286765/" target="_blank">Color Rib Socks ¥440</a>
        </p>

        <div class="shopnow">
            <a href="https://www.dot-st.com/lowrysfarm/disp/itemlist/?dispNo=002003008002001" target="_blank">
                <p class="shop">
                    SHOP NOW
                    <span class="wave">
                        <img src="<%= rootURL %>/assets/img/wave.png" alt="">
                    </span>
                </p>
                <span class="arrow"></span>
            </a>
        </div>
    </div>
    <div class="look_ph look1-3">
        <div class="look1-right video_wrapper">
            <video src="https://movie.dot-st.com/static2/lowrysfarm/kids_2025spring/1.mp4"
                poster="<%= rootURL %>/assets/img/look1.jpg" autoplay="false" muted playsinline loop></video>
        </div>
        <div class="look1-left video_wrapper">
            <video src="https://movie.dot-st.com/static2/lowrysfarm/kids_2025spring/1.mp4"
                poster="<%= rootURL %>/assets/img/look1.jpg" autoplay="false" muted playsinline loop></video>
        </div>
    </div>
</section>
<section class="sec sec_2" id="sec_2">
    <div class="ph_wrap ">
        <div class="num sticky_top">
            LOOK 02
        </div>
        <div class="look_ph fadein look2-1">
            <img src="<%= rootURL %>/assets/img/look2-1.jpg" alt="">
        </div>
        <div class="look2_wrap">
            <div class="look_ph fadein look2-2">
                <img src="<%= rootURL %>/assets/img/look2-2.jpg" alt="">
            </div>
            <div class="look_ph look2-3 fadein video_wrapper">
                <video src="https://movie.dot-st.com/static2/lowrysfarm/kids_2025spring/2.mp4"
                    poster="<%= rootURL %>/assets/img/look2-2.jpg" autoplay="false" muted playsinline loop></video>
            </div>
            <div class="item_detail">
                <p>
                    <a href="https://www.dot-st.com/lowrysfarm/disp/item/287594/" target="_blank">Numbering Tee ¥3,300 </a><br>
                    <a href="https://www.dot-st.com/lowrysfarm/disp/item/290686/" target="_blank">Chef Pants ¥3,790 </a><br>
                    <a href="https://www.dot-st.com/lowrysfarm/disp/item/286765/" target="_blank">Color Rib Socks ¥440</a>
                </p>
                <div class="shopnow">
                    <a href="https://www.dot-st.com/lowrysfarm/disp/itemlist/?dispNo=002003008002" target="_blank">
                        <p class="shop">
                            SHOP NOW
                            <span class="wave">
                                <img src="<%= rootURL %>/assets/img/wave.png" alt="">
                            </span>
                        </p>
                        <span class="arrow"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="sec sec_3" id="sec_3">
    <div class="ph_wrap ">
        <div class="num">
            LOOK 03
        </div>
        <div class="look_ph look3-1">
            <img src="<%= rootURL %>/assets/img/look3-1.png" alt="">
        </div>
        <div class="look_ph look3-2">
            <img src="<%= rootURL %>/assets/img/look3-2.png" alt="">
        </div>
    </div>
    <div class="item_detail">
        <p>
            <a href="https://www.dot-st.com/lowrysfarm/disp/item/290057/" target="_blank">Flower Embroidery Cardigan SS ¥3,990</a><br>
            <a href="https://www.dot-st.com/lowrysfarm/disp/item/319794/" target="_blank">Tuck Balloon Pants ¥3,790</a><br>
            <a href="https://www.dot-st.com/lowrysfarm/disp/item/323363 /" target="_blank"> Tie Dye Rib Socks ¥550</a>
            <span class="caption">＊Arrive in Early March</span>
        </p>
        <div class="shopnow">
            <a href="https://www.dot-st.com/lowrysfarm/disp/itemlist/?dispNo=002003008001" target="_blank">
                <p class="shop">
                    SHOP NOW
                    <span class="wave">
                        <img src="<%= rootURL %>/assets/img/wave.png" alt="">
                    </span>
                </p>
                <span class="arrow"></span>
            </a>
        </div>
    </div>
    <div class="look3-3 video_wrapper">
        <video src="https://movie.dot-st.com/static2/lowrysfarm/kids_2025spring/3.mp4"
            poster="<%= rootURL %>/assets/img/look3.jpg" autoplay="false" muted playsinline loop></video>
    </div>
</section>

<section class="sec sec_4" id="sec_4">
    <div class="ph_wrap ">
        <div class="num">
            LOOK 04
        </div>
        <div class="look_ph fadein look4-1">
            <img src="<%= rootURL %>/assets/img/look4-1.jpg" alt="">
        </div>
        <div class="flex fadein">
            <div class="look_ph look4-2">
                <img src="<%= rootURL %>/assets/img/look4-2.jpg" alt="">
            </div>
            <div class="look_ph look4-3">
                <img src="<%= rootURL %>/assets/img/look4-3.jpg" alt="">
            </div>
        </div>
    </div>

    <div class="item_detail">
        <p>
            <a href="https://www.dot-st.com/lowrysfarm/disp/item/260001/" target="_blank">Denim Jacket ¥5,500</a><br>
            <a href="https://www.dot-st.com/lowrysfarm/disp/item/260004/" target="_blank">Denim Overalls ¥6,600</a><br>
            <a href="https://www.dot-st.com/lowrysfarm/disp/item/2880722/" target="_blank">Assort Printed Tee LS ¥2,490</a>
        </p>

        <div class="shopnow">
            <a href="https://www.dot-st.com/lowrysfarm/disp/itemlist/?dispNo=002003008003" target="_blank">
                <p class="shop">
                    SHOP NOW
                    <span class="wave">
                        <img src="<%= rootURL %>/assets/img/wave.png" alt="">
                    </span>
                </p>
                <span class="arrow"></span>
            </a>
        </div>
    </div>
    <div class="look4-movie fadein video_wrapper">
        <video src="https://movie.dot-st.com/static2/lowrysfarm/kids_2025spring/4.mp4"
            poster="<%= rootURL %>/assets/img/look4.jpg" autoplay="false" muted playsinline loop></video>
    </div>
</section>
<section class="sec sec_5" id="sec_5">
    <div class="ph_wrap ">
        <div class="num">
            LOOK 05
        </div>
        <div class="look_ph look5-1">
            <img src="<%= rootURL %>/assets/img/look5-1.png" alt="">
        </div>
        <div class="look_ph look5-2">
            <img src="<%= rootURL %>/assets/img/look5-2.jpg" alt="">
        </div>
        <div class="look_ph look5-3 video_wrapper">
            <video src="https://movie.dot-st.com/static2/lowrysfarm/kids_2025spring/5.mp4"
                poster="<%= rootURL %>/assets/img/look5.jpg" autoplay="false" muted playsinline loop></video>
        </div>

    </div>

    <div class="item_detail">
        <p>
            <a href="https://www.dot-st.com/lowrysfarm/disp/item/307818/" target="_blank">Shirring One-Piece ¥4,400</a>
            <span class="caption">＊Arrive in Early March</span><br>
            <a href="https://www.dot-st.com/lowrysfarm/disp/item/323358/" target="_blank">Color Short Socks ¥440</a>
            <span class="caption">＊Arrive in Early March</span>
        </p>
        <div class="shopnow">
            <a href="https://www.dot-st.com/lowrysfarm/disp/itemlist/?dispNo=002003008004" target="_blank">
                <p class="shop">
                    SHOP NOW
                    <span class="wave">
                        <img src="<%= rootURL %>/assets/img/wave.png" alt="">
                    </span>
                </p>
                <span class="arrow"></span>
            </a>
        </div>
    </div>
</section>

<section class="sec sec_6" id="sec_6">
    <div class="ph_wrap ">
        <div class="num">
            LOOK 06
        </div>
        <div class="look_ph look6-1">
            <img src="<%= rootURL %>/assets/img/look6-1.png" alt="">
        </div>
        <div class="look_ph look6-2">
            <img src="<%= rootURL %>/assets/img/look6-2.png" alt="">
        </div>
        <div class="look_ph look6-3">
            <img src="<%= rootURL %>/assets/img/look6-3.png" alt="">
        </div>
        <div class="look_ph look6-4">
            <img src="<%= rootURL %>/assets/img/look6-4.png" alt="">
        </div>
    </div>
    <div class="item_detail">
        <p>
            <a href="https://www.dot-st.com/lowrysfarm/disp/item/252809/" target="_blank">Striped Shirt with Tie ¥3,790 </a><br>
            <a href="https://www.dot-st.com/lowrysfarm/disp/item/241756/" target="_blank">Hopsack Easy Pants ¥3,790</a>
            <span class="caption" style="display: inline;">*︎Arrive in Early March</span><br>
            <a href="https://www.dot-st.com/lowrysfarm/disp/item/130473/" target="_blank">Water Repellent Backpack ¥3,850</a>
            <span class="caption">*︎Arrive in Late March</span>
        </p>
        



        <div class="shopnow">
            <a href="https://www.dot-st.com/lowrysfarm/disp/itemlist/?dispNo=002003008005" target="_blank">
                <p class="shop">
                    SHOP NOW
                    <span class="wave">
                        <img src="<%= rootURL %>/assets/img/wave.png" alt="">
                    </span>
                </p>
                <span class="arrow"></span>
            </a>
        </div>
    </div>
</section>
<section class="sec sec_7" id="sec_7">
    <div class="ph_wrap ">
        <div class="num">
            LOOK 07 & 08
        </div>
        <div class="scroll-infinity">
            <div class="scroll-infinity__wrap">
              <ul class="scroll-infinity__list scroll-infinity__list--left">
                <li class="scroll-infinity__item"><img src="<%= rootURL %>/assets/img/look7-1.jpg" alt="" loading=”lazy”></li>                        
                <li class="scroll-infinity__item"><img src="<%= rootURL %>/assets/img/look7-2.jpg" alt="" loading=”lazy”></li>
                <li class="scroll-infinity__item"><img src="<%= rootURL %>/assets/img/look7-3.jpg" alt="" loading=”lazy”></li>
                <li class="scroll-infinity__item"><img src="<%= rootURL %>/assets/img/look7-1.jpg" alt="" loading=”lazy”></li>
                <li class="scroll-infinity__item"><img src="<%= rootURL %>/assets/img/look7-2.jpg" alt="" loading=”lazy”></li>
                <li class="scroll-infinity__item"><img src="<%= rootURL %>/assets/img/look7-3.jpg" alt="" loading=”lazy”></li>
              </ul>
              <ul class="scroll-infinity__list scroll-infinity__list--left">
                <li class="scroll-infinity__item"><img src="<%= rootURL %>/assets/img/look7-1.jpg" alt="" loading=”lazy”></li>                        
                <li class="scroll-infinity__item"><img src="<%= rootURL %>/assets/img/look7-2.jpg" alt="" loading=”lazy”></li>
                <li class="scroll-infinity__item"><img src="<%= rootURL %>/assets/img/look7-3.jpg" alt="" loading=”lazy”></li>
                <li class="scroll-infinity__item"><img src="<%= rootURL %>/assets/img/look7-1.jpg" alt="" loading=”lazy”></li>
                <li class="scroll-infinity__item"><img src="<%= rootURL %>/assets/img/look7-2.jpg" alt="" loading=”lazy”></li>
                <li class="scroll-infinity__item"><img src="<%= rootURL %>/assets/img/look7-3.jpg" alt="" loading=”lazy”></li>
              </ul>
            </div>
            </div>

        <div class="look7-4 fadein video_wrapper">
            <video src="https://movie.dot-st.com/static2/lowrysfarm/kids_2025spring/7.mp4"
                poster="<%= rootURL %>/assets/img/look7.jpg" autoplay="false" muted playsinline loop></video>
        </div>
    </div>
    <div class="item_detail">
        <p>
            (BOY)<br>
            <a href="https://www.dot-st.com/lowrysfarm/disp/item/241760/" target="_blank">Hopsack Zip Polo ¥3,790 </a>
            <span class="caption">*︎Arrive in Early March</span><br>
            <a href="https://www.dot-st.com/lowrysfarm/disp/item/288067/" target="_blank">USA Basic Tee LS ¥2,200</a><br>
            <a href="https://www.dot-st.com/lowrysfarm/disp/item/241751/" target="_blank">Hopsack Half Pants ¥3,300</a>
            <span class="caption">*︎Arrive in Early March</span><br>
            <a href="https://www.dot-st.com/lowrysfarm/disp/item/286765/" target="_blank">Color Rib Socks ¥440</a><br>
            <br>
            (GIRL)<br>
            <a href="https://www.dot-st.com/lowrysfarm/disp/item/241726/" target="_blank">Hopsack Frill Salopette ¥6,600</a>
            <span class="caption">*︎Arrive in Early March</span><br>
            <a href="https://www.dot-st.com/lowrysfarm/disp/item/292496/" target="_blank">Waffle Pullover ¥2,990</a><br>
            <a href="https://www.dot-st.com/lowrysfarm/disp/item/286765/" target="_blank">Color Rib Socks ¥440</a><br>
        </p>
        <div class="shopnow">
            <a href="https://www.dot-st.com/lowrysfarm/disp/itemlist/?dispNo=002003008007" target="_blank">
                <p class="shop">
                    SHOP NOW
                    <span class="wave">
                        <img src="<%= rootURL %>/assets/img/wave.png" alt="">
                    </span>
                </p>
                <span class="arrow"></span>
            </a>
        </div>
    </div>
</section>


<section class="sec sp_movie" id="sec_8">
    <div class="movie_wrap">

        <div class="loop_txt border">
            <div>
                INNOCENT WORLD SPECIAL MOVIE&nbsp;INNOCENT WORLD SPECIAL MOVIE&nbsp;
            </div>
            <div>
                INNOCENT WORLD SPECIAL MOVIE&nbsp;INNOCENT WORLD SPECIAL MOVIE&nbsp;
            </div>
            <div>
                INNOCENT WORLD SPECIAL MOVIE&nbsp;INNOCENT WORLD SPECIAL MOVIE&nbsp;
            </div>
            <div>
                INNOCENT WORLD SPECIAL MOVIE&nbsp;INNOCENT WORLD SPECIAL MOVIE&nbsp;
            </div>
        </div>
        <div class="footer_movie">
            <div class="movie">
                <div class="video_wrapper video js-video-trigger">
                    <video muted playsinline loop>
                        <source src="<%= rootURL %>/assets/img/sp.mp4" type="video/mp4" />
                    </video>
                </div>
            </div>
        </div>
        <div class="loop_txt yuw">
            <div>
                LOWRYS FARM KIDS 2025 Spring&nbsp;LOWRYS FARM KIDS 2025 Spring&nbsp;
            </div>
            <div>
                LOWRYS FARM KIDS 2025 Spring&nbsp;LOWRYS FARM KIDS 2025 Spring&nbsp;
            </div>
            <div>
                LOWRYS FARM KIDS 2025 Spring&nbsp;LOWRYS FARM KIDS 2025 Spring&nbsp;
            </div>
            <div>
                LOWRYS FARM KIDS 2025 Spring&nbsp;LOWRYS FARM KIDS 2025 Spring&nbsp;
            </div>
        </div>
    </div>
</section>