<section class="sec sec_1" id="sec_1">
    <div class="ph_wrap">
        <div class="num sticky_top">
            LOOK 01
        </div>
        <div class="look_ph look1-1">
            <img src="<%= rootURL %>/assets/img/look1-1.png" alt="">
        </div>
        <div class="look_ph look1-2">
            <img src="<%= rootURL %>/assets/img/look1-2.png" alt="">
        </div>
        <div class="look_ph look1-3">
            <div class="look1-right video_wrapper">
                <video src="https://movie.dot-st.com/static2/lowrysfarm/kids_2025spring/1.mp4"
                    poster="<%= rootURL %>/assets/img/look2-2.jpg" autoplay="false" muted playsinline loop></video>
            </div>
            <div class="look1-left video_wrapper">
                <video src="https://movie.dot-st.com/static2/lowrysfarm/kids_2025spring/1.mp4"
                    poster="<%= rootURL %>/assets/img/look2-2.jpg" autoplay="false" muted playsinline loop></video>
            </div>
        </div>
    </div>
    <div class="item_detail">
        <p>
            <a href="" target="_blank">Jumpsuit ¥17,600</a><br>
            <a href="" target="_blank">Hood Rib Knit Pullover ¥12,100</a>
        </p>
        <div class="shopnow">
            <a href="" target="_blank">
                <p class="shop">
                    SHOP NOW
                    <span class="wave">
                        <img src="<%= rootURL %>/assets/img/wave.png" alt="">
                    </span>
                </p>
                <span class="arrow"></span>
            </a>
        </div>
    </div>
</section>
<section class="sec sec_2" id="sec_2">
    <div class="ph_wrap ">
        <div class="num sticky_top">
            LOOK 02
        </div>
        <div class="look_ph fadein look2-1">
            <img src="<%= rootURL %>/assets/img/look2-1.jpg" alt="">
        </div>
        <div class="look2_wrap fadein">
            <div class="look_ph look2-2">
                <img src="<%= rootURL %>/assets/img/look2-2.jpg" alt="">
            </div>
            <div class="look_ph look2-3 video_wrapper">
                <video src="https://movie.dot-st.com/static2/lowrysfarm/kids_2025spring/2.mp4"
                    poster="<%= rootURL %>/assets/img/look2-2.jpg" autoplay="false" muted playsinline loop></video>
            </div>
            <div class="item_detail">
                <p>
                    <a href="" target="_blank">Numbering Tee ¥3,300 </a><br>
                    <a href="" target="_blank">Chef Pants ¥3,790 </a><br>
                    <a href="" target="_blank">Color Rib Socks ¥440</a>
                </p>
                <div class="shopnow">
                    <a href="" target="_blank">
                        <p class="shop">
                            SHOP NOW
                            <span class="wave">
                                <img src="<%= rootURL %>/assets/img/wave.png" alt="">
                            </span>
                        </p>
                        <span class="arrow"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="sec sec_3" id="sec_3">
    <div class="ph_wrap ">
        <div class="num">
            LOOK 03
        </div>
        <div class="look_ph look3-1">
            <img src="<%= rootURL %>/assets/img/look3-1.png" alt="">
        </div>
        <div class="look_ph look3-2">
            <img src="<%= rootURL %>/assets/img/look3-2.png" alt="">
        </div>
        <div class="look_ph look3-3 video_wrapper">
            <video src="https://movie.dot-st.com/static2/lowrysfarm/kids_2025spring/3.mp4"
                poster="<%= rootURL %>/assets/img/look2-2.jpg" autoplay="false" muted playsinline loop></video>
        </div>
    </div>
    <div class="item_detail">
        <p>
            <a href="" target="_blank">Jumpsuit ¥17,600</a><br>
            <a href="" target="_blank">Hood Rib Knit Pullover ¥12,100</a>
        </p>
        <div class="shopnow">
            <a href="" target="_blank">
                <p class="shop">
                    SHOP NOW
                    <span class="wave">
                        <img src="<%= rootURL %>/assets/img/wave.png" alt="">
                    </span>
                </p>
                <span class="arrow"></span>
            </a>
        </div>
    </div>
</section>

<section class="sec sec_4" id="sec_4">
    <div class="ph_wrap ">
        <div class="num">
            LOOK 04
        </div>
        <div class="look_ph fadein look4-1">
            <img src="<%= rootURL %>/assets/img/look4-1.jpg" alt="">
        </div>
        <div class="flex fadein">
            <div class="look_ph look4-2">
                <img src="<%= rootURL %>/assets/img/look4-2.jpg" alt="">
            </div>
            <div class="look_ph look4-3">
                <img src="<%= rootURL %>/assets/img/look4-3.jpg" alt="">
            </div>
        </div>
    </div>

    <div class="item_detail">
        <p>
            <a href="" target="_blank">Jumpsuit ¥17,600</a><br>
            <a href="" target="_blank">Hood Rib Knit Pullover ¥12,100</a>
        </p>
        <div class="shopnow">
            <a href="" target="_blank">
                <p class="shop">
                    SHOP NOW
                    <span class="wave">
                        <img src="<%= rootURL %>/assets/img/wave.png" alt="">
                    </span>
                </p>
                <span class="arrow"></span>
            </a>
        </div>
    </div>
    <div class="look4-movie fadein video_wrapper">
        <video src="https://movie.dot-st.com/static2/lowrysfarm/kids_2025spring/4.mp4"
            poster="<%= rootURL %>/assets/img/look2-2.jpg" autoplay="false" muted playsinline loop></video>
    </div>
</section>
<section class="sec sec_5" id="sec_5">
    <div class="ph_wrap ">
        <div class="num">
            LOOK 05
        </div>
        <div class="look_ph look5-1">
            <img src="<%= rootURL %>/assets/img/look5-1.png" alt="">
        </div>
        <div class="look_ph look5-2">
            <img src="<%= rootURL %>/assets/img/look5-2.jpg" alt="">
        </div>
        <div class="look_ph look5-3 video_wrapper">
            <video src="https://movie.dot-st.com/static2/lowrysfarm/kids_2025spring/5.mp4"
                poster="<%= rootURL %>/assets/img/look2-2.jpg" autoplay="false" muted playsinline loop></video>
        </div>

    </div>

    <div class="item_detail">
        <p>
            <a href="" target="_blank">Jumpsuit ¥17,600</a><br>
            <a href="" target="_blank">Hood Rib Knit Pullover ¥12,100</a>
        </p>
        <div class="shopnow">
            <a href="" target="_blank">
                <p class="shop">
                    SHOP NOW
                    <span class="wave">
                        <img src="<%= rootURL %>/assets/img/wave.png" alt="">
                    </span>
                </p>
                <span class="arrow"></span>
            </a>
        </div>
    </div>
</section>

<section class="sec sec_6" id="sec_6">
    <div class="ph_wrap ">
        <div class="num">
            LOOK 06
        </div>
        <div class="look_ph look6-1">
            <img src="<%= rootURL %>/assets/img/look6-1.png" alt="">
        </div>
        <div class="look_ph look6-2">
            <img src="<%= rootURL %>/assets/img/look6-2.png" alt="">
        </div>
        <div class="look_ph look6-3">
            <img src="<%= rootURL %>/assets/img/look6-3.png" alt="">
        </div>
        <div class="look_ph look6-4">
            <img src="<%= rootURL %>/assets/img/look6-4.png" alt="">
        </div>
    </div>
    <div class="item_detail">
        <p>
            <a href="" target="_blank">Jumpsuit ¥17,600</a><br>
            <a href="" target="_blank">Hood Rib Knit Pullover ¥12,100</a>
        </p>
        <div class="shopnow">
            <a href="" target="_blank">
                <p class="shop">
                    SHOP NOW
                    <span class="wave">
                        <img src="<%= rootURL %>/assets/img/wave.png" alt="">
                    </span>
                </p>
                <span class="arrow"></span>
            </a>
        </div>
    </div>
</section>
<section class="sec sec_7" id="sec_7">
    <div class="num pc">
        LOOK 07 & 08
    </div>
    <div class="ph_wrap ">
        <div class="num sp">
            LOOK 07 & 08
        </div>
        <div class="swiper fadein">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="<%= rootURL %>/assets/img/look7-1.jpg" alt="" loading=”lazy”>
                </div>
                <div class="swiper-slide">
                    <img src="<%= rootURL %>/assets/img/look7-2.jpg" alt="" loading=”lazy”>
                </div>
                <div class="swiper-slide">
                    <img src="<%= rootURL %>/assets/img/look7-3.jpg" alt="" loading=”lazy”>
                </div>
            </div>
        </div>
        <div class="look7-4 fadein video_wrapper">
            <video src="https://movie.dot-st.com/static2/lowrysfarm/kids_2025spring/7.mp4"
                poster="<%= rootURL %>/assets/img/look2-2.jpg" autoplay="false" muted playsinline loop></video>
        </div>
    </div>
    <div class="item_detail">
        <p>
            (BOY)<br>
            <a href="" target="_blank">Hopsack Zip Polo ¥3,790 *︎Arrive in Early March</a><br>
            <a href="" target="_blank">USA Basic Tee LS ¥2,200</a><br>
            <a href="" target="_blank">Hopsack Half Pants ¥3,300 *︎Arrive in Early March</a><br>
            <a href="" target="_blank">Color Rib Socks ¥440</a><br>
            <br>
            (GIRL)<br>
            <a href="" target="_blank">Hopsack Frill Salopette ¥6,600 *︎Arrive in Mid-March</a><br>
            <a href="" target="_blank">Waffle Pullover ¥2,990</a><br>
            <a href="" target="_blank">Color Rib Socks ¥440</a><br>
        </p>
        <div class="shopnow">
            <a href="" target="_blank">
                <p class="shop">
                    SHOP NOW
                    <span class="wave">
                        <img src="<%= rootURL %>/assets/img/wave.png" alt="">
                    </span>
                </p>
                <span class="arrow"></span>
            </a>
        </div>
    </div>
</section>


<section class="sec sp_movie" id="sec_8">
    <div class="movie_wrap">

        <div class="loop_txt border">
            <div>
                INNOCENT WORLD SPECIAL MOVIE&nbsp;INNOCENT WORLD SPECIAL MOVIE&nbsp;
            </div>
            <div>
                INNOCENT WORLD SPECIAL MOVIE&nbsp;INNOCENT WORLD SPECIAL MOVIE&nbsp;
            </div>
            <div>
                INNOCENT WORLD SPECIAL MOVIE&nbsp;INNOCENT WORLD SPECIAL MOVIE&nbsp;
            </div>
            <div>
                INNOCENT WORLD SPECIAL MOVIE&nbsp;INNOCENT WORLD SPECIAL MOVIE&nbsp;
            </div>
        </div>
        <div class="footer_movie">
            <div class="movie">
                <div class="video_wrapper video js-video-trigger">
                    <video muted playsinline loop>
                        <source src="<%= rootURL %>/assets/img/sp.mp4" type="video/mp4" />
                    </video>
                </div>
            </div>
        </div>
        <div class="loop_txt yuw">
            <div>
                LOWRYS FARM KIDS 2025 Spring&nbsp;LOWRYS FARM KIDS 2025 Spring&nbsp;
            </div>
            <div>
                LOWRYS FARM KIDS 2025 Spring&nbsp;LOWRYS FARM KIDS 2025 Spring&nbsp;
            </div>
            <div>
                LOWRYS FARM KIDS 2025 Spring&nbsp;LOWRYS FARM KIDS 2025 Spring&nbsp;
            </div>
            <div>
                LOWRYS FARM KIDS 2025 Spring&nbsp;LOWRYS FARM KIDS 2025 Spring&nbsp;
            </div>
        </div>
    </div>
</section>