<div class="pc-anchor_wrap">
    <ul class="pcanchor_link anchor_link first_line">
        <li>
            <a href="#sec_1">
                LOOK 01
                <div class="wave">
                    <img src="<%= rootURL %>/assets/img/wave.png" alt="">    
                </div>
            </a>
        </li>
        <li>
            <a href="#sec_2">
                LOOK 02
                <div class="wave">
                    <img src="<%= rootURL %>/assets/img/wave.png" alt="">    
                </div>
            </a>
        </li>
        <li>
            <a href="#sec_3">
                LOOK 03
                <div class="wave">
                    <img src="<%= rootURL %>/assets/img/wave.png" alt="">    
                </div>
            </a>
        </li>
        <li>
            <a href="#sec_4">
                LOOK 04
                <div class="wave">
                    <img src="<%= rootURL %>/assets/img/wave.png" alt="">    
                </div>
            </a>
        </li>
        <li>
            <a href="#sec_5">
                LOOK 05
                <div class="wave">
                    <img src="<%= rootURL %>/assets/img/wave.png" alt="">    
                </div>
            </a>
        </li>
    </ul>
    <ul class="pcanchor_link anchor_link second_link">
        <li>
            <a href="#sec_6">
                LOOK 06
                <div class="wave">
                    <img src="<%= rootURL %>/assets/img/wave.png" alt="">    
                </div>
            </a>
        </li>
        <li>
            <a href="#sec_7">
                LOOK 07
                <div class="wave">
                    <img src="<%= rootURL %>/assets/img/wave.png" alt="">    
                </div>
            </a>
        </li>
        <li>
            <a href="#sec_8">
                SPECIAL MOVIE
                <div class="wave">
                    <img src="<%= rootURL %>/assets/img/wave.png" alt="">    
                </div>
            </a>
        </li>
    </ul>
</div>